@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #2a2a2a;
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}

.swiper-button-next,
.swiper-button-prev {
  width: 25px !important;
  height: 25px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  font-size: 15px !important;
  font-weight: bold;
}
